<div class="example-page">
  <section class="header">
    <div class="fork-me">
      <a href="https://github.com/munkk/angular-x-carousel"></a>
    </div>

    <div class="header__inner">
      <div class="header__inner-title">
        Responsive <br />
        Linked list based <br />
        3D Carousel
      </div>
      <div class="header__inner-frameworks">
        <div class="framework">
          <a href="/">
            <i class="fab fa-angular"></i>
            <span>Angular</span>
          </a>
        </div>
        <div class="framework">
          <a href="/">
            <i class="fab fa-react"></i>
            <span>React</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="body">
    <div class="body__inner">
      <div
        class="body__inner-example"
        (mouseenter)="showTooltip = true"
        (mouseleave)="showTooltip = false"
      >
        <ng-container *ngIf="showTooltip">
          <tooltip [text]="currentElement.summary"></tooltip>
        </ng-container>

        <carousel (onChange)="handleChange($event)">
          <div slide [data]="element" *ngFor="let element of elements">
            <periodic-element [element]="element"></periodic-element>
          </div>
        </carousel>
      </div>
    </div>
  </section>

  <!-- <section class='footer'>
    <a href='http://qgrid.github.io/ng2' target='_blank'>
      See Examples
    </a>
  </section>  -->
</div>
